<h2>New Recipe</h2>

<%= form_for(@recipe) do |f| %>
  <p>
    <%= f.label :name %><br /> 
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :instructions %><br /> 
    <%= f.text_field :instructions %>
  </p> 
  <p>
    <%= f.label :ingredients %><br /> 
    <%= f.text_field :ingredients %>
  </p> 
  <%= f.submit  %>

<% end %>

